spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/threeclass?serverTimezone=UTC&useUnicode=true&characterEncoding=UTF-8&useSSL=true
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: none
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
#        show_sql: true
        format_sql: true
  devtools:
    livereload:
      enabled: true
    freemarker:
      cache: false
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace